@model IEnumerable<Demo.Data.Account>

@{
    ViewData["Title"] = "Danh sách tài khoản quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content_box">
    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home > </a>
                <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index">Danh sách tài khoản </a>
            </nav>
        </div>
    </div>

    <div class="mb-3">
        <a asp-action="Create" class="btn btn-primary">Tạo tài khoản mới</a>
        <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index"> > Tạo tài khoản mới </a>
    </div>

    <div class="filter-group" id="editcbb">
        <select class="custom-select" id="idstatus" name="idstatus" style="min-width: 200px" onchange="filterStatus()">
            <option value="" disabled selected>Chọn trạng thái</option>
            <option value="true">Active</option>
            <option value="false">Block</option>
        </select>
    </div>

    <div class="data_table_container">
        <table class="data-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FullName</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Active</th>
                    <th>Quyền truy cập</th>
                    <th>CreateDate</th>
                </tr>
            </thead>
            <tbody id="records_table">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.AccountId)</td>
                        <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        <td>@Html.DisplayFor(modelItem => item.Active)</td>
                        <td>@Html.DisplayFor(modelItem => item.Role.RoleName)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.AccountId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.AccountId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        function filterStatus() {
            var selectedStatus = $("#idstatus").val();

            $.ajax({
                url: '/Admin/AdminAccounts/Filtter',
                dataType: "json",
                type: "GET",
                data: {
                    active: selectedStatus
                },
                success: function (results) {
                    if (results.status === "success") {
                        window.location.href = results.redirectUrl;
                    }
                },
                error: function (xhr) {
                    alert('Đã xảy ra lỗi');
                }
            });
        }
    </script>
}
