@model IEnumerable<Demo.Data.Account>

@{
    ViewData["Title"] = "Danh sách tài khoản quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<div class="content_box">
    <div class="nav_dir">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home > </a>
                <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index">Danh sách tài khoản </a>
            </nav>
        </div>
    </div>


    <div class="filter-box" id="editcbb">
        <select class="custom-select" id="idstatus" name="idstatus" style="min-width: 200px" onchange="filterStatus()">
            <option value="" disabled selected>Chọn trạng thái</option>
            <option value="true">Active</option>
            <option value="false">Block</option>
        </select>
        <input type="button"
               onclick="window.location.href='@Url.Action("Create")'"
               value="Tạo tài khoản mới" class="btn btn-info btn-sm">
        @* <a asp-action="Create" class="btn btn-primary"></a> *@
        @*     <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Index"> > Tạo tài khoản mới </a> *@
    </div>

    <div class="data_table_container">
        <table class="data-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Họ Tên</th>
                    <th>Email</th>
                    <th>Phone</th>
                  
                    <th>Quyền truy cập</th>
                    <th>Trạng thái</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.AccountId</td>
                            <td>
                                <div class="row">
                                    
                                    <div class="col-md-6">@item.FullName</div>
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                   
                                    <div class="col-md-6">@item.Email</div>
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                 
                                    <div class="col-md-6">@item.Phone</div>
                                </div>
                            </td>
                         
                            <td>
                                <div class="row">
                                  
                                    <div class="col-md-6">@item.Role?.RoleName</div>
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                   
                                    <div class="col-md-6">@((item.Active.HasValue && item.Active.Value ? "Active" : "Block"))</div>

                                </div>
                            </td>
                            <td>
                                <div class="group_button another">
                                    <input type="button" class="mod-btn"
                                           onclick="window.location.href='@Url.Action("Edit", new { id = item.AccountId })'"
                                           value="Sửa" class="btn btn-info btn-sm">

                                    <input type="button" class="mod-btn"
                                           onclick="window.location.href='@Url.Action("Details", new { id = item.AccountId })'"
                                           value="Chi tiết" class="btn btn-info btn-sm">

                                    <input type="button" class="mod-btn" id="delete"
                                           onclick="if(confirm('Are you sure you want to delete?'))
                    { window.location.href='@Url.Action("Delete", new { id = item.AccountId })' }"
                                           value="Xóa" class="btn btn-danger btn-sm">
                                </div>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    <script>
        function filterStatus() {
            var selectedStatus = $("#idstatus").val();

            $.ajax({
                url: '/Admin/AdminAccounts/Filtter',
                dataType: "json",
                type: "GET",
                data: {
                    active: selectedStatus
                },
                success: function (results) {
                    if (results.status === "success") {
                        window.location.href = results.redirectUrl;
                    }
                },
                error: function (xhr) {
                    alert('Đã xảy ra lỗi');
                }
            });
        }
    </script>
}
