@if (Model != null)
{
    @foreach (var product in Model)
    {
                <tr>
                            <td class="name-product">
                                <img src="~/menucss/loadh/@product.Thumb" alt="Product Image" />
                                    @product.ProductName
                            </td>
@*                     <td>@product.ProductName</td> *@
                    <td>@product.Cat.CatName</td>
                    <td>@product.Price</td>
                    <td>@product.Unit</td>
                    <td>@product.BestSellers</td>
                    <td>@product.Active</td>
@*                     <td>
                @if (product.Cat != null)
                {
                    @product.Cat.CatId
                }
                else
                {
                    <text>N/A</text>
                }
                    </td> *@
                    <td>
                <div class="group_button another">
                    <input type="button" class="mod-btn"
                           onclick="window.location.href='@Url.Action("Edit", "AdminProducts", new { id = product.ProductId })'"
                           value="Chi tiết" class="btn btn-info btn-sm">

                    <input type="button" class="mod-btn"
                    onclick="window.location.href='@Url.Action("Details", "AdminProducts", new { id = product.ProductId })'"
                    value="Chi tiết" class="btn btn-info btn-sm">

                    <input type="button" class="mod-btn" id="delete"
                    onclick="if(confirm('Are you sure you want to delete?')) { window.location.href='@Url.Action("Delete", "AdminProducts", new { id = product.ProductId })' }"
                    value="Xóa" class="btn btn-danger btn-sm">

                </div>
                    </td>
                </tr>
    }
}
