@model IEnumerable<Demo.Data.Category>
@{
    ViewData["Title"] = "Danh mục sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="content_box">
    <!-- Dẫn dắt Breadcrumb -->
<div class="nav_dir">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item">
                <i class="anticon anticon-home m-r-5"></i>Trang chủ > 
            </a>
            <a asp-area="Admin" asp-controller="ProductCategory" asp-action="Index" class="breadcrumb-item">
                Quản lý danh mục sản phẩm
            </a>

        </nav>
    </div>
</div>

<!-- Phần tìm kiếm và lọc -->

<div class="data_table_container">
    <table class="data-table">
        <thead>
            <tr>
                @* <th>CatID</th> *@
                <th>Tên danh mục</th>

                @* <th>Description</th> *@

                <th>Ảnh minh họa</th>


                <th>Tiêu đề</th>
                <th class="action_button"></th>
                    @* <th>CatID</th> *@
            </tr>
        </thead>
        <tbody id="records_table">
                @if (Model != null && Model.Any())
                {
                    var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;

                    @foreach (var item in Model)
                    {
                            <tr>
                                @* <td>@Html.DisplayFor(modelItem => item.CatId)</td> *@
                                <td>@Html.DisplayFor(modelItem => item.CatName)</td>
                                @* <td>@Html.DisplayFor(modelItem => item.Description)</td> *@
                                <td>

                                    <img src="~/menucss/loadh/@item.Thumb" alt="Product Image" />
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.Title)</td>



                                <td>
                                            <div class="group_button another">
                                            <input type="button" class="mod-btn"
                                                   onclick="window.location.href='@Url.Action("Edit", new { id = item.CatId })'"
                                                   value="Sửa" class="btn btn-info btn-sm">

                                            <input type="button" class="mod-btn"
                                                           onclick="window.location.href='@Url.Action("Details", new { id = item.CatId })'"
                                                   value="Chi tiết" class="btn btn-info btn-sm">

                                            <input type="button" class="mod-btn" id="delete"
                                                           onclick="window.location.href='@Url.Action("Delete", new { id = item.CatId })'"
                                                   value="Xóa" class="btn btn-danger btn-sm">
                                        </div>

                                </td>
                            </tr>

                    }
                }
        </tbody>
    </table>



</div>

        <div class="group_button">
        <input type="button"
               onclick="window.location.href='@Url.Action("Add")'"
               value="Tạo danh mục mới" class="btn btn-info btn-sm">
    </div>
<!-- Pagination Controls -->
<div aria-label="Page navigation">
    <pager class="pagination" list="@Model" asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" asp-route-CatID="@ViewBag.CurrentCatID"></pager>
</div>
</div>



@* 
@section Scripts {
    <script>
        $(document).ready(function () {
            // Khi chọn danh mục
            $("#txtCatID").change(function () {
                var selectedCatID = $(this).val();

                $.ajax({
                    url: '/Admin/AdminProducts/Filtter',
                    dataType: "json",
                    type: "GET",
                    data: {
                        CatID: selectedCatID
                    },
                    async: true,
                    success: function (results) {
                        if (results.status === "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('Đã xảy ra lỗi');
                    }
                });
            });

            // Khi tìm kiếm sản phẩm
            $("#keyword").keyup(function () {
                var strkeyword = $("#keyword").val();

                $.ajax({
                    url: '/Admin/Search/FindProductCategory',
                    dataType: "html",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html(results);
                    },
                    error: function (xhr, status, error) {
                        console.error(`Lỗi AJAX: ${status} - ${error}`);
                    }
                });
            });
        });
    </script> *@
}

