
﻿@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<Demo.Data.Customer>


@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách khách hàng " + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content_box">
    <div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home > </a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index">Quản lý khách hàng > </a>
            <span class="breadcrumb-item active">Danh sách khách hàng : page @CurrentPage </span <br />
        </nav>
    </div>

</div>
<div class="filter-group">
    <input type="text" id="keyword" name="keyword" />
        @*  <select class="custom-select" id="txtCatID" name="CatId" style="min-width: 200px" asp-items="ViewBag.Danhmuc"> *@
        @*  <option selected>Chọn Danh Mục</option> *@
        @*  <option value="0">Chọn tất cả</option> *@
    </select>
</div>


            <div class="data_table_container">


                <table class="data-table" id="sampleTable">
                    <thead>
                        <tr>

                            <th>ID khách hàng</th>
                            <th width="150">FullName</th>
                            <th>Birthday</th>

                            <th width="200">Address</th>
                            <th width="100">Email</th>
                            <th>Phone</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody id="records_table">
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                                <tr>

                                                    <td>@item.CustomerId</td>
                                                    <td>@item.FullName</td>
                                                    <td>@item.Birthday</td>

                                                    <td>@item.Address</td>
                                                    <td>@item.Email</td>
                                                    <td>@item.Phone</td>

                                                    <td class="text-center">
                                                |
                                                        <a asp-action="Details" asp-route-id="@item.CustomerId" class="btn btn-info btn-sm">Chi tiết</a> |
                                                        <a asp-action="Delete" asp-route-id="@item.CustomerId" class="btn btn-danger btn-sm">Xóa</a>
                                                    </td>
                                                </tr>
                                }
                            }
                    </tbody>
                </table>
                <div aria-label="Page navigation example">
                    <ul class="pagination">
                        <pager class="page-item" list="@Model" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index"></pager>
                    </ul>

                </div>
            </div>

</div>


                                        
@section Scripts {
    <script>
        $(document).ready(function () {
 $("#keyword").keyup(function () {
                var strkeyword = $("#keyword").val();

                $.ajax({
                    url: '/Admin/Search/FindCustomer',
                    dataType: "html",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html(results);
                    },
                    error: function (xhr, status, error) {
                        console.error(`Lỗi AJAX: ${status} - ${error}`);
                    }
                });
            });
        });
    </script>
}
