
﻿@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<Demo.Data.Customer>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách khách hàng " + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    #modal-default {
        display: none;
    }
</style>

<div class="content_box">
    <div class="nav_dir">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home > </a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index">Quản lý khách hàng > </a>
            <span class="breadcrumb-item active">Danh sách khách hàng : page @CurrentPage </span <br />
        </nav>
    </div>

</div>
<div class="filter-box">
    <label>Tìm kiếm</label>
    <input type="text" id="keyword" name="keyword" />
@*     <select class="custom-select" id="txtCatID" name="CatId" style="min-width: 200px" asp-items="ViewBag.Danhmuc"> 
        <option selected>Chọn Danh Mục</option> 
        <option value="0">Chọn tất cả</option> 
    </select> *@
    <input type="button" value="Tìm">
</div>


    <div class="data_table_container">
        <table class="data-table" id="sampleTable">
            <thead>
                <tr>

                    <th>ID khách hàng</th>
                    <th width="150">Họ tên</th>
                    <th>Birthday</th>

                    <th width="200">Address</th>
                    <th width="100">Email</th>
                    <th>Phone</th>
                    <th>Trạng thái</th>
                    <th class="action_button">Thao tác</th>

                </tr>
            </thead>
            <tbody id="records_table">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                        <tr>

                            <td>@item.CustomerId</td>
                            <td>@item.FullName</td>
                            <td>@item.Birthday</td>

                            <td>@item.Address</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                             <td>@(item.Active == true ? "Active" : "Block")</td>
                            <td class="text-center">
                                <div class="group_button another">
                                    <input type="button" class="mod-btn"
                                           onclick="window.location.href='@Url.Action("Edit", new { id = item.CustomerId })'"
                                           value="Sửa" class="btn btn-info btn-sm">

                                    <input type="button" class="mod-btn"
                                           onclick="window.location.href='@Url.Action("Details", new { id = item.CustomerId })'"
                                           value="Chi tiết" class="btn btn-info btn-sm">

                                    <input type="button" class="mod-btn" id="delete"
                                           onclick="window.location.href='@Url.Action("Delete", new { id = item.CustomerId })'"
                                           value="Xóa" class="btn btn-danger btn-sm">
                                </div>
                                                         
                            </td>
                        </tr>
                        }
                    }
            </tbody>
        </table>
        <div aria-label="Page navigation example">
            <ul class="pagination">
                <pager class="page-item" list="@Model" asp-area="Admin" asp-controller="AdminCustomers" asp-action="Index"></pager>
            </ul>

        </div>
    </div>

</div>


       
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cập nhật trạng thái người dùng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtOrderId" value="0"/>
                <div class="form-group">
                    <label>Trạng thái</label>
                    <select class="form-control" id="ddTrangThai">
                        <option value="True">Active</option>
                        <option value="False">Block</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btnLuu">Lưu</button>
            </div>
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>                                 
@section Scripts {
        <script>
            $(document).ready(function () {
                // Function to handle search
                function search() {
                    var strkeyword = $("#keyword").val();

                    $.ajax({
                        url: '/Admin/Search/FindCustomer',
                        dataType: "html",
                        type: "POST",
                        data: { keyword: strkeyword },
                        async: true,
                        success: function (results) {
                            $("#records_table").html(results);
                        },
                        error: function (xhr, status, error) {
                            console.error(`Lỗi AJAX: ${status} - ${error}`);
                        }
                    });
                }

                // Call search function when the button is clicked
                $("input[type='button'][value='Tìm']").click(function () {
                    search();
                });

                // Call search function when the Enter key is pressed
                $("#keyword").keyup(function(event) {
                    if (event.keyCode === 13) {
                        search();
                    }
                });
            });
        $(document).ready(function () {
    $('body').on('click', '.btnCapNhat', function () {
        var id = $(this).data("id");
        $('#txtOrderId').val(id);
        $('#modal-default').modal('show');
    });

    $('body').on('click', '.btnLuu', function () {
        var id = $('#txtOrderId').val();
        var tt = $('#ddTrangThai').val() === "True"; // Chuyển giá trị về boolean
        $.ajax({
            url: '/admin/admincustomers/UpdateTT',
            type: 'POST',
            data: { id: id, trangthai: tt }, 
            success: function (res) {
                if (res.Success) {
                    location.reload();
                } else {
                    alert("Cập nhật thành công: " + res.message);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Có lỗi xảy ra: " + textStatus + " - " + errorThrown);
            }
        });
    });
});



        </script>
}

@* 
@section scripts {
    <script>
       
    </script>
    } *@
