@model List<Demo.Data.Order>


@{
    ViewBag.Title = "Danh sách đơn hàng";
    int totalPages = ViewBag.TotalPages;
    int currentPage = ViewBag.CurrentPage;
}

<style>
    #modal-default {
        display: none;
    }

    th, td {
        white-space: nowrap;
        border: 1px solid #ddd;
        padding: 8px;
    }

    .data-table {
        width: 100%;
        border-collapse: collapse;
    }

    th {
        background-color: #f2f2f2;
        color: black;
    }

    .border-right {
        border-right: none;
    }

    .border-left {
        border-left: none;
    }
</style>

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item">
                <i class="anticon anticon-home m-r-5"></i>Trang chủ >
            </a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="Order" asp-action="Index">Danh sách đơn hàng > </a>
        </nav>
    </div>
</div>

<section class="content">
    <div class="card">
        <div class="card-body">
            <table class="table table-striped table-bordered data-table">
                <thead class="thead-dark">
                    <tr>
                        <th class="border-right">#</th>
                        <th class="border-right">Mã đơn hàng</th>
                        <th class="border-right">Tên khách hàng</th>
                        <th class="border-right">Phone</th>
                        <th class="border-right">Cách thanh toán</th>
                        <th class="border-right">Thời gian thanh toán</th>
                        <th class="border-right">Trạng thái đơn hàng</th>
                        <th class="border-right">Ngày tạo</th>
                        <th class="border-right">Ngày giao hàng</th>
                        <th class="border-right"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = (currentPage - 1) * 10;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@(++i)</td>
                                <td>@item.OrderID</td>
                                <td>@item.FullName</td>
                                <td>@item.Phone</td>
                                <td>@item.CachThanhToan</td>
                                <td>@item.PaymentDate.Value.ToString("hh\\:mm\\:ss dd/MM/yyyy")</td>
                                <td>@(item.TransactStatusId == 1 ? "Đã giao hàng" : "Chờ xác nhận")</td>
                                <td>@item.OrderDate?.ToString("hh\\:mm\\:ss dd/MM/yyyy")</td>
                                <td>@item.ShipDate?.ToString("hh\\:mm\\:ss dd/MM/yyyy")</td>
                                <td>
                                    <a href="/admin/order/view/@item.OrderID" class="btn btn-sm btn-success">Xem</a>
                                    <a href="#" class="btn btn-info btn-sm btnCapNhat" data-id="@item.OrderID">Cập nhật</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <div class="row">
                <div class="col-6"></div>
                <div class="col-6" style="text-align:right;">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            @for (int i = 1; i <= totalPages; i++)
                            {
                                <li class="page-item @(i == currentPage ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cập nhật trạng thái giao hàng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <input type="hidden" id="txtOrderId" value="0"/>
                <div class="form-group">
                    <label>Trạng thái</label>
                    <select class="form-control" id="ddTrangThai">
                        <option value="1">
                            Đã giao hàng
                        </option>
                    </select>
                </div>

              
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btnLuu">Lưu</button>

            </div>
        </div>

    </div>

</div>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

@section scripts {
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnCapNhat', function () {
                var id = $(this).data("id");
                $('#txtOrderId').val(id);
                $('#modal-default').modal('show');
            });

            $('body').on('click', '.btnLuu', function () {
                var id = $('#txtOrderId').val();
                var tt = $('#ddTrangThai').val();
                $.ajax({
                    url: '/admin/order/UpdateTT',
                    type: 'POST',
                    data: { id: id, trangthai: tt }, 
                    success: function (res) {
                        if (res.Success) {
                            location.reload();
                        }
                    }
                });
            });
        });
    </script>
}

