@model IEnumerable<Demo.Data.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="content_box">
    <div class="data_table_container">
        <table class="data-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CatName)
                    </th>


                    <th>
                        @Html.DisplayNameFor(model => model.Published)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Thumb)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CatName)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.Published)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Thumb)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.CatId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.CatId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.CatId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div class="group_button">
        <button>
            <a asp-action="Create">Create New</a>
        </button>
    </div>
</div>
