<<<<<<< HEAD
﻿@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<Demo.Data.Category>

@{
    int currentPage = ViewBag.CurrentPage ?? 1;
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item">
                <i class="anticon anticon-home m-r-5"></i>Home
            </a>
            <a asp-area="Admin" asp-controller="AdminProducts" asp-action="Index" class="breadcrumb-item">
                Quản lý danh mục sản phẩm
            </a>
            <span class="breadcrumb-item active">
                Danh sách danh mục: Page @currentPage
            </span>
        </nav>
    </div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>CatID</th>
            <th>CatName</th>
           
            <th>Description</th>
            <th>Published</th>
            <th>Thumb</th>
            <th>Title</th>
            <th>Alias</th>
          
        </tr>
    </thead>
    <tbody id="records_table">
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.CatId</td>
                <td>@product.CatName</td>
               
                <td>@product.Description</td>
                <td>@product.Published</td>
                <td>@product.Thumb</td>
                <td>@product.Title</td>
                <td>@product.Alias </td>
               
                <td>
                    <a asp-action="Edit" asp-route-id="@product.CatId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@product.CatId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@product.CatId" class="text-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
=======
﻿@model IEnumerable<Demo.Data.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CatName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Levels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ordering)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thumb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cover)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SchemaMarkup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CatName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Levels)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ordering)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Thumb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetaKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cover)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SchemaMarkup)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CatId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CatId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CatId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
>>>>>>> 06235904bb357cf68a24e145336d06811074051c
