@model Demo.Data.Product

@{
    ViewData["Title"] = "Thêm mới sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index" class="breadcrumb-item">
                <i class="anticon anticon-home m-r-5"></i>Trang chủ >
            </a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">Danh sách sản phẩm > </a>
            <span class="breadcrumb-item active">Thêm sản phẩm </span>
        </nav>
    </div>
</div>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin thêm mới sản phẩm</h3>
        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                <div class="col-md-12">
                    @using (Html.BeginForm("Add", "AdminProducts", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <div class="card">
                            <div id="logins-part" class="content active dsteooer-block" role="tabpanel">
                                <div class="form-group">
                                    <label for="ProductId" class="control-label">Mã sản phẩm</label>
                                    @Html.TextBoxFor(x => x.ProductId, new { @class = "form-control", @placeholder = "Mã sản phẩm" })
                                    @Html.ValidationMessageFor(x => x.ProductId, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="ProductName" class="control-label">Tên sản phẩm</label>
                                    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control", @placeholder = "Tên sản phẩm" })
                                    @Html.ValidationMessageFor(x => x.ProductName, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label for="Description" class="control-label">Mô tả sản phẩm</label>
                                    @Html.TextAreaFor(x => x.Description, new { @class = "form-control",@id="txtDetail", @placeholder = "Mô tả sản phẩm" })
                                    @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger" })
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="Price" class="control-label">Giá sản phẩm</label>
                                            @Html.TextBoxFor(x => x.Price, new { @class = "form-control", @placeholder = "Giá sản phẩm" })
                                            @Html.ValidationMessageFor(x => x.Price, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="Unit" class="control-label">Đơn vị sản phẩm</label>
                                            @Html.TextBoxFor(x => x.Unit, new { @class = "form-control", @placeholder = "Đơn vị sản phẩm" })
                                            @Html.ValidationMessageFor(x => x.Unit, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group d-flex align-items-center">
                                            <label for="Active">Công khai</label>
                                            <div class="switch m-r-10">
                                                @Html.CheckBoxFor(x => x.Active, new { @class = "custom-control-input", @id = "Active" })
                                                <label for="Active" class="custom-control-label"> Kích hoạt </label>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center">
                                            <label for="HomeFlag">HomeFlag</label>
                                            <div class="switch m-r-10">
                                                @Html.CheckBoxFor(x => x.HomeFlag, new { @class = "custom-control-input", @id = "HomeFlag" })
                                                <label for="HomeFlag" class="custom-control-label"> Kích hoạt </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center">
                                        <label for="BestSellers">BestSellers</label>
                                        <div class="switch m-r-10">
                                            @Html.CheckBoxFor(x => x.BestSellers, new { @class = "custom-control-input", @id = "BestSellers" })
                                            <label for="BestSellers" class="custom-control-label"> Kích hoạt </label>
                                        </div>
                                    </div>
                                </div>
                               @*  <div class="form-group">
                                    <label for="ProductCategory" class="control-label">Danh mục sản phẩm</label>
                                    @Html.DropDownListFor(x => x.ProductId, ViewBag.ProductCategory as SelectList, "-Chọn danh mục sản phẩm-", new { @class = "form-control", @placeholder = "Danh mục sản phẩm" })
                                    @Html.ValidationMessageFor(x => x.ProductId, null, new { @class = "text-danger" })
                                </div> *@
                                <div class="tab-pane">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="button" id="iTaiAnh" onclick="BrowseServer('iTaiAnh');" value="Tải ảnh" />
                                        </div>
                                        <div class="col-md-12">
                                            <table class="table table-hover" id="tbAnhSanPham">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">#</th>
                                                        <th class="text-center">Ảnh</th>
                                                        <th class="text-center">Ảnh đại diện</th>
                                                        <th class="text-center">Thao tác</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center">1</td>
                                                        <td class="text-center"><img width="80" src="~/MenuCss/LoadH/10-620x620-7.jpg" alt="Product Image" /></td>
                                                        <td class="text-center"><input type="checkbox" name="rDefault" value="1" /></td>
                                                        <td class="text-center"><a href="#" class="btn btn-sm btn-danger">Xóa</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">2</td>
                                                        <td class="text-center"><img width="80" src="~/MenuCss/LoadH/10-620x620-7.jpg" alt="Product Image" /></td>
                                                        <td class="text-center"><input type="checkbox" name="rDefault" value="2" /></td>
                                                        <td class="text-center"><a href="#" class="btn btn-sm btn-danger">Xóa</a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Tạo mới" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>



@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.16.2/standard-all/ckeditor.js"></script>
    <script src="https://cdn.cksource.com/ckfinder/3.7.0/ckfinder.js"></script>

    <!-- Không cần dòng này nếu đã tải CKEditor từ CDN
    <script src="~/content/ckeditor/ckeditor.js"></script> -->
    <script src="~/content/ckfinder/ckfinder_v1.js"></script>

    <script>
        $(document).ready(function () {
            CKEDITOR.replace('txtDetail', {
                customConfig: '/content/ckeditor/config.js',
                extraAllowedContent: 'span',
            });
        });


        function BrowseServer() {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                // Logic to handle the selected file URL
                var imageField = document.getElementById('iTaiAnh');
                imageField.value = fileUrl;
                // You might want to update the image preview as well
                var imgPreview = document.createElement('img');
                imgPreview.src = fileUrl;
                imgPreview.width = 80; // Set the width for the image preview
                imageField.parentNode.appendChild(imgPreview);
            };
            finder.popup();
        }
    </script>
}
