@model IEnumerable<Demo.Data.Product>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content_box">
    <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.ShortDesc)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Thumb)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Video)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.DateModified)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.BestSellers)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.HomeFlag)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Alias)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.MetaDesc)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.MetaKey)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Cat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.ShortDesc)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Thumb)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Video)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.DateModified)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.BestSellers)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.HomeFlag)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Tags)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Alias)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.MetaDesc)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.MetaKey)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Cat.CatId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
            }
    </tbody>
</table>

</div>
