@model IEnumerable<Demo.Data.Order>



@{
    ViewData["Title"] = "Lịch sử đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/css/PurchaseHistory.css" rel="stylesheet" />
    <style>
        body {
            margin-top: 100px;
        }
        .product-image {
            max-width: 100px;
            max-height: 100px;
        }
    </style>
</head>
<h2 class="my-4">Lịch sử đơn hàng</h2>

@if (Model != null && Model.Any())
{
    var i = 0;
    <table class="table table-striped table-bordered data-table">
        <thead class="thead-dark">
            <tr>
                <th class="border-right">#</th>
                <th class="border-right">Ngày Đặt Hàng</th>
                <th class="border-right">Ngày Giao Hàng</th>
                <th class="border-right">Cách thanh toán</th>
                <th class="border-right">Thời gian thanh toán</th>
                <th>Chi Tiết Đơn Hàng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td class="border-right">@(i+1)</td>
                    <td class="border-right">@order.OrderDate.Value.ToString("HH\\:mm\\:ss dd/MM/yyyy")</td>

                    <td class="border-right">@(order.ShipDate.HasValue ? order.ShipDate.Value.ToString("HH\\:mm\\:ss dd/MM/yyyy") : "")</td>
                    <td class="border-right">@order.CachThanhToan</td>
                    <td class="border-right">@order.PaymentDate.Value.ToString("HH\\:mm\\:ss dd/MM/yyyy")</td>
                    <td>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Tên Sản Phẩm</th>
                                    <th>Hình ảnh</th>
                                    <th>Số Lượng</th>
                                    <th>Giảm Giá</th>
                                    <th>Tổng Tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var orderDetail in order.OrderDetails)
                                {
                                    <tr>
                                        <td>@orderDetail.Product?.ProductName</td>
                                        <td>
                                            <img src="~/menucss/@orderDetail.Product?.Thumb" alt="Product Image" class="product-image" />
                                        </td>
                                        <td>@orderDetail.Quantity</td>
                                        <td>@orderDetail.Discount</td>
                                        <td>@orderDetail.Total</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}
else
{
    <p class="alert alert-warning">Không có đơn hàng.</p>
}
