@model IEnumerable<Demo.Data.Role>

@{
    ViewData["Title"] = "Quản lý quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Data Table</title>
    <style>
        /* Định dạng bảng */
        .data-table {
            width: 100%; /* Độ rộng của bảng */
            border-collapse: collapse; /* Loại bỏ khoảng trống giữa các ô */
        }

            /* Định dạng hàng tiêu đề */
            .data-table thead {
                background-color: #f4f4f4; /* Màu nền cho hàng tiêu đề */
                font-weight: bold; /* Đậm chữ */
            }

            /* Định dạng hàng và ô */
            .data-table th, .data-table td {
                border: 1px solid #ddd; /* Đường viền cho ô */
                padding: 8px; /* Khoảng cách giữa ô và văn bản */
                text-align: left; /* Canh trái văn bản trong ô */
            }

            /* Định dạng hàng khi trỏ chuột */
            .data-table tr:hover {
                background-color: #f1f1f1; /* Màu nền khi trỏ chuột */
            }
    </style>
</head>
<
<body>
    <p>
        <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
    </p>
    <div class="table">
        <table class="data-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Mô tả</th>
                    <th>Thao tác</th> <!-- Thêm tiêu đề cho cột thao tác -->
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.RoleId</th>
                            <td>@item.RoleName</td>
                            <td>@item.Description</td>
                            <td>
                                <a class="btn btn-primary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminRoles" asp-action="Details" asp-route-id="@item.RoleId">View</a>
                                <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="AdminRoles" asp-action="Edit" asp-route-id="@item.RoleId">Edit</a>
                                <a class="btn btn-danger btn-tone m-r-5" asp-area="Admin" asp-controller="AdminRoles" asp-action="Delete" asp-route-id="@item.RoleId">Delete</a> <!-- Đổi màu nút xóa -->
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>

