@model IEnumerable<Demo.Data.Role>

@{
    ViewData["Title"] = "Quản lý quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<
<body>
    <p>
        <a asp-action="Create" class="btn btn-primary">Tạo mới</a>
    </p>
    <div class="data_table_container">
        <table class="data-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Mô tả</th>

                    <th>Thao tác</th>
                    

                    @* <th>CatID</th> *@
                </tr>
            </thead>
            <tbody id="records_table">

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    
                        @*  <td>
                    @if (item.Cat != null)
                    {
                    @Html.DisplayFor(modelItem => item.Cat.CatId)
                    }
                    else
                    {
                    <span>N/A</span>
                    }
                    </td> *@
                        <td>

                            <a asp-action="Details" asp-route-id="@item.RoleId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.RoleId">Delete</a>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</body>

