@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Demo.ModelViews.HangHoaVM>

<H3>Có <b>@Model.Count()</b> sản phẩm</H3>

@* <div class="menu_set">
    <button class="choose_food" id="btn-Burger" onclick="filterMenu('Burger')">Burger</button>
    <button class="choose_food" id="btn-Spaghetti" onclick="filterMenu('Spaghetti')">Spaghetti</button>
    <button class="choose_food" id="btn-Dessert" onclick="filterMenu('Dessert')">Dessert</button>
    <button class="choose_food" id="btn-Fried_Chicken" onclick="filterMenu('Fried_Chicken')">Fried Chicken</button>
    <button class="choose_food" id="btn-Drinks" onclick="filterMenu('Drinks')">Drinks</button>
</div> *@
<div class="menu_set d-flex flex-nowrap">
    @foreach (var group in Model.Select((item, index) => new { Item = item, Index = index })
    .GroupBy(x => x.Index / 8))
    {
        <div class="menu_row d-flex flex-nowrap">
            @foreach (var item in group.Select(x => x.Item).Take(8))
            {
                <div class="product_col">
                    <div class="product_row" id="@item.TenLoai">
                        <div class="item">
                            <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHH">
                                <img class="image" src="~/assets/MenuAccess/@item.Hinh" alt="alt text" />
                            </a>
                            <div class="product_card">
                                <a asp-action="Detail" asp-controller="HangHoa" asp-route-id="@item.MaHH">
                                    <h4 class="food_title">@item.TenHH</h4>
                                </a>
                                <p class="desc_food">@item.MoTaNgan</p>
                                <h5 class="price_tag">@item.Dongia Đ</h5>
                                <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@item.MaHH">
                                    <button class="btn"><h5 class="highlight2">Add to cart</h5></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>